
#nav{
	padding-left: 15px;
    padding-right: 15px;
}

.navbar-fixed-top{
    position: fixed; 
    border: none;
    top: 5px;
    background:unset;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}